mariadb:
  debug: null

  # general cluster parameters
  cluster:
    id: null                                     # e.g. "1"
    topology: masterslave                        # possible values "masterslave", "standalone", "galera" or "backup" 
                                                 #or "columnstore"
    labels: null                                 # custom labels to be added to the mariadb service, e.g. for discovery   
    annotations: null                            # custom annotations to be added to each pod in the cluster

  # server parameters
  server:
    users:
      admin:
        username: admin
        password: 5LVTpbGE2cGFtw69
      replication:
        username: repl
        password: 5LVTpbGE2cGFtw69
    storage:
      class: null                                # e.g. high
      size: 256Mi
    replicas: 3
    image: mariadb/server:10.3
    port: 3306
    labels: null                                 # custom labels applied to mariadb server pods only
    annotations: null                            # custom annotations applied to mariadb server pods only
    resources:
      requests:
        cpu: null                                # e.g. "1000m"
        memory: null                             # e.g. "3G"
      limits:
        cpu: null                                # e.g. "3000m"
        memory: null                             # e.g. "9G"
    backup:
      claimName: null                            # shared volume mount definition
      restoreFrom: null                          # name of restore subdirectory

# maxscale parameters
  maxscale:
    image: mariadb/maxscale:2.2
    labels: null                                 # custom labels applied to maxscale pods only
    annotations: null                            # custom annotations applied to maxscale pods only
    ports:
      readonly: 4008
      readwrite: 4006
    replicas: 2
    resources:
      requests:
        cpu: null     # e.g. "1000m"
        memory: null  # e.g. "3G"
      limits:
        cpu: null     # e.g. "3000m"
        memory: null  # e.g. "9G"

# statestore parameters
  statestore:
    image: mariadb/statestore:0.0.3

# backup parameters
  backup:
    image: mariadb/server:10.3
    labels: null                                # custom labels to be added to the mariadb service, e.g. for discovery   
    annotations: null                           # custom annotations to be added to each pod in the cluster
    release:
      type: masterslave                         # 'masterslave', 'galera' or 'standalone'
      name: null
      id: 0
    volume:
      claimName: null                          # shared volume mount definition
      subdirPattern: null                      # pattern for subdirectory with name backup, default backup-serverid-timestamp

# columnstore cluster parameters
  columnstore:
    pm:
      replicas: 3
    um:
      replicas: 1
    image: nastybuff/cs:latest

    #For test purposes
    #The following parameters will be will be removed from the final setup
    test: true
    sandbox: true
    retries: 60 # 60x5=300sec - up to 5min 