[mysqld]
binlog_format=ROW
bind-address=0.0.0.0
default_storage_engine=innodb
innodb_autoinc_lock_mode=2
innodb_flush_log_at_trx_commit=0
innodb_buffer_pool_size=122M
innodb_doublewrite=1
wsrep_debug=ON
wsrep_on=ON
wsrep_provider=/usr/lib/libgalera_smm.so
wsrep_provider_options="gcache.size=300M; gcache.page_size=300M"
wsrep_cluster_name="<<RELEASE_NAME>>-<<CLUSTER_ID>>-cluster"
wsrep_cluster_address="gcomm://<<CLUSTER_ADDRESS>>"
wsrep_sst_method=mariabackup
wsrep_sst_auth = <<ADMIN_USERNAME>>:<<ADMIN_PASSWORD>>
